@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  input,
  select,
  textarea {
    font-family: inherit;
    font-size: inherit;
    background-color: inherit;
  }
  input,
  textarea {
    border-style: solid;
    border-width: 1px;
    border-color: gray;
  }
  /* content-visibility: auto hides lis' bullets. */
  /*
  tr,
  li {
    content-visibility: auto;
    contain-intrinsic-size: auto 1em;
  }
  */

  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }

  table {
    counter-reset: table-row-counter;
  }
  table > tbody > tr > td.row-id {
    text-align: right;
    padding-right: 0.125em;
  }
  table > tbody > tr > td.row-id::before {
    counter-increment: table-row-counter;
    content: counter(table-row-counter);
  }

  html,
  body {
    @apply bg-neutral-100 dark:bg-neutral-900 text-neutral-900 dark:text-neutral-100;
  }
  input[type="number"] {
    @apply text-right;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }

  .auto_height_container {
    position: relative;
  }

  .auto_height_spacer {
    overflow: hidden;
    visibility: hidden;
    box-sizing: border-box;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border: 1px solid;
  }

  .auto_height_textarea {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font: inherit;
    letter-spacing: inherit;
    resize: none;
  }
}

@layer components {
  .btn-icon {
    @apply px-[0.15rem] bg-neutral-300 dark:bg-neutral-600 hover:bg-neutral-400 dark:hover:bg-neutral-500 disabled:bg-neutral-300 disabled:dark:bg-neutral-600 disabled:opacity-40 text-center min-w-[2rem] h-[2rem] text-[1rem] border-none shadow-none;
  }
  .running {
    @apply bg-yellow-200 dark:bg-[#382006];
  }
  .hidden-leafs {
    @apply bg-green-200 dark:bg-[#0a3035];
  }
  .link {
    @apply text-blue-600 hover:text-blue-800 visited:text-purple-600 dark:text-blue-300 dark:hover:text-blue-100 dark:visited:text-purple-300;
  }
  .overflow-wrap-anywhere {
    overflow-wrap: anywhere;
  }
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  vertical-align: -0.35rem;
  font-size: 1.5rem; /* 24px/16px */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
