common --lockfile_mode update
common --aspects_parameters fail_on_violation=true

test --aspects @rules_rust//rust:defs.bzl%rust_clippy_aspect
test --output_groups +clippy_checks
test --aspects @rules_rust//rust:defs.bzl%rustfmt_aspect
test --output_groups +rustfmt_checks
test --aspects //tools:lint.bzl%eslint
test --aspects //tools:lint.bzl%ruff
test --aspects //tools:lint.bzl%shellcheck

test --test_output errors
