div.running{
    background-color: Moccasin;
}
input.todo, input.done, input.dont{
    width: 7ex;
}
textarea.todo{
    height: 3ex;
    width: 60ex;
}
textarea.done, textarea.dont{
    height: 3ex;
    width: 40ex;
}
button{
    padding: 0;
}