div.running{
    background-color: Moccasin;
}
input.todo{
    width: 7ex;
}
input.done, input.dont{
    width: 7ex;
    color: rgb(128, 128, 128);
}
textarea.todo{
    height: 3ex;
    width: 60ex;
}
textarea.done, textarea.dont{
    height: 3ex;
    width: 60ex;
    color: rgb(128, 128, 128);
}
button{
    padding: 0;
}
li.done, li.dont{
    color: rgb(128, 128, 128);
}
