html, body, #root, #columns{
    height: 100%;
    margin: 0;
}
#tree {
    height: 100%;
    margin-top: 5ex;
    float: left;
    width: 50%;
    overflow-y: scroll;
}
#queue{
    height: 100%;
    margin-top: 5ex;
    float: left;
    width: 50%;
    overflow-y: scroll;
}
div.menu{
    position: fixed;
    top: 1ex;
    left: 1ex;
    background-color: white;
}
div.running{
    background-color: Moccasin;
}
input{
    width: 6ex;
}
button{
    padding: 0;
    font-size: 50%;
}
.done, .dont{
    color: rgb(170, 170, 170);
}
textarea{
    border-color: rgb(235, 235, 235);
}
