html, body, #root, #columns{
    height: 100%;
    margin: 0;
}
#tree {
    height: 100%;
    margin-top: 5ex;
    float: left;
    width: 40%;
    overflow-y: scroll;
}
#queue{
    height: 100%;
    margin-top: 5ex;
    float: left;
    width: 60%;
    overflow-y: scroll;
}
div.menu{
    position: fixed;
    top: 1ex;
    left: 1ex;
}
input{
    width: 6ex;
}
button{
    padding: 0;
    font-size: 50%;
    vertical-align: text-bottom;
}
.dont{
    color: rgb(170, 170, 170);
}
.done{
    color: rgb(230, 170, 170);
}
textarea{
    vertical-align: text-bottom;
    overflow: hidden;
    resize: vertical;
    border-color: rgb(235, 235, 235);
    border-style: solid;
    resize: none;
}

div.menu{
    background-color: white;
}
div.running{
    background-color: Moccasin;
}
@media screen and (prefers-color-scheme: dark) {
    html{
        filter: invert(1);
    }
}
