@tailwind base;
@tailwind components;
@tailwind utilities;

div.running {
  background-color: Moccasin;
}
div.non-leaf {
  background-color: rgb(230, 255, 230);
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  background-color: inherit;
}
input, textarea{
  border-style: solid;
  border-width: 1px;
  border-color: gray;
}

@layer base {
  html,
  body {
    @apply bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-gray-100;
  }
  ol {
    @apply list-decimal mx-[2em];
  }
  ul {
    @apply list-disc mx-[2em];
  }
  li {
    @apply list-item;
  }
}

@layer components {
  .btn-icon {
    @apply bg-gray-200 dark:bg-gray-600 hover:bg-gray-300 dark:hover:bg-gray-500 text-center min-w-[2em] h-[2em] border-none shadow-none;
  }

  textarea.done {
    @apply text-red-300;
  }
  textarea.dont {
    @apply text-gray-500;
  }
}

.material-symbols-outlined {
   vertical-align: bottom;
}
